Repository open-telemetry/opentelemetry-cpp-contrib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/cpp-contrib-approvers, @TomRoSystems, @seemk, @tobiasstadler, @kpratyus, @ajaynagariya, @debajitdas

Update README.md
  instrumentation/otel-webserver-module/README.md
Owners: @kpratyus, @ajaynagariya, @debajitdas, @open-telemetry/cpp-contrib-approvers

Update typo
  instrumentation/otel-webserver-module/README.md
Owners: @kpratyus, @ajaynagariya, @debajitdas, @open-telemetry/cpp-contrib-approvers

Update Readme about platform support for Centos7 and ubuntu for otel-webserver-module (#155)
  instrumentation/otel-webserver-module/README.md
Owners: @kpratyus, @ajaynagariya, @debajitdas, @open-telemetry/cpp-contrib-approvers

upgrade fluentd exporter to use otel-cpp 1.3.0 (#149)
  exporters/fluentd/cmake/opentelemetry-cpp.cmake
  exporters/fluentd/example/log/foo_library/foo_library.cc
  exporters/fluentd/example/log/main.cc
  exporters/fluentd/include/opentelemetry/exporters/fluentd/log/recordable.h
Owners: @open-telemetry/cpp-contrib-approvers

fix(nginx): Fix segfault in GetTraceContext (#153)
  instrumentation/nginx/src/otel_ngx_module.cpp
  instrumentation/nginx/test/backend/php/ignored.php
  instrumentation/nginx/test/conf/nginx.conf
  instrumentation/nginx/test/instrumentation/test/instrumentation_test.exs
Owners: @seemk, @tobiasstadler, @open-telemetry/cpp-contrib-approvers

fix-tag
  exporters/fluentd/cmake/opentelemetry-cpp.cmake
Owners: @open-telemetry/cpp-contrib-approvers

fix
  exporters/fluentd/cmake/opentelemetry-cpp.cmake
Owners: @open-telemetry/cpp-contrib-approvers

fix
  exporters/fluentd/cmake/opentelemetry-cpp.cmake
Owners: @open-telemetry/cpp-contrib-approvers

fix
  exporters/fluentd/cmake/opentelemetry-cpp.cmake
Owners: @open-telemetry/cpp-contrib-approvers

[Fluentd exporter] Bump up otel-cpp version to incorporate ARM fix (#156)
  exporters/fluentd/cmake/opentelemetry-cpp.cmake
Owners: @open-telemetry/cpp-contrib-approvers

initial commit
  exporters/statsd/include/opentelemetry/exporters/statsd/UnixDomainTransport.h
  exporters/statsd/include/opentelemetry/exporters/statsd/statsd_common.h
Owners: @open-telemetry/cpp-contrib-approvers

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.

# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/cpp-contrib-approvers

instrumentation/httpd/ @TomRoSystems @open-telemetry/cpp-contrib-approvers
instrumentation/nginx/ @seemk @tobiasstadler @open-telemetry/cpp-contrib-approvers
instrumentation/otel-webserver-module/ @kpratyus @ajaynagariya @debajitdas @open-telemetry/cpp-contrib-approvers
