Repository open-telemetry/opentelemetry-cpp-contrib, pull requests merged in 2024-04, with the labels that each got.

#315 instrumentation/nginx: update documentation to drop deprecated options
  instrumentation/nginx/README.md
Labels: instrumentation:nginx

#429 [CI] Add CI for instrumentation/spdlog
  .github/workflows/spdlog.yml
  instrumentation/spdlog/CMakeLists.txt
Labels: instrumentation:spdlog

#425 [CI] Add CI for instrumentation/glog
  .github/workflows/glog.yml
  instrumentation/glog/CMakeLists.txt
  instrumentation/glog/README.md
  instrumentation/glog/include/opentelemetry/instrumentation/glog/sink.h
  instrumentation/glog/src/sink.cc
Labels: instrumentation:glog

#426 [CI] Add CI for instrumentation/log4cxx
  .github/workflows/log4cxx.yml
  instrumentation/log4cxx/CMakeLists.txt
  instrumentation/log4cxx/include/opentelemetry/instrumentation/log4cxx/appender.h
  instrumentation/log4cxx/src/appender.cc
Labels: instrumentation:log4cxx

#430 [CI] Upgrade CI to opentelemetry-cpp 1.15.0
  .github/workflows/boost_log.yml
  .github/workflows/geneva_metrics.yml
  .github/workflows/glog.yml
  .github/workflows/log4cxx.yml
  .github/workflows/spdlog.yml
  .github/workflows/user_events.yml
Labels: pr:please-review

#434 [CI] Upgrade Prometheus CI to opentelemetry-cpp 1.15.0
  .github/workflows/prometheus.yml
  exporters/prometheus/repository.bzl
  exporters/prometheus/test/prometheus_test_helper.h
  exporters/prometheus/test/push_exporter_test.cc
Labels: pr:please-review

#416 Feature to add Nginx variables related to tracing context
  instrumentation/otel-webserver-module/README.md
  instrumentation/otel-webserver-module/include/core/sdkwrapper/ISdkWrapper.h
  instrumentation/otel-webserver-module/include/core/sdkwrapper/SdkWrapper.h
  instrumentation/otel-webserver-module/src/core/api/RequestProcessingEngine.cpp
  instrumentation/otel-webserver-module/src/core/api/opentelemetry_ngx_api.cpp
  instrumentation/otel-webserver-module/src/core/sdkwrapper/ScopedSpan.cpp
  instrumentation/otel-webserver-module/src/core/sdkwrapper/SdkWrapper.cpp
  instrumentation/otel-webserver-module/src/nginx/ngx_http_opentelemetry_module.c
  instrumentation/otel-webserver-module/src/nginx/ngx_http_opentelemetry_module.h
  instrumentation/otel-webserver-module/test/unit/mocks/mock_sdkwrapper.h
Labels: Webserver
